* {
	box-sizing: border-box;
}
/* border-box;
content-box;
*/
body {
	font-family: sans-serif;
}
.box {
	background-color: salmon;
	font-size: 20px;
	font-weight: bold;
	margin: 20px 40px;
	border: 5px solid red;
	padding: 20px;
	width: 250px;
}

h1,
h2,
h3,
h4 {
	margin: 20px;
	padding: 10px;
}
